@import "/src/assets/styles/fonts.css";

* {
    font-family: 'Inter', sans-serif;
}

.paragraph {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.title-h1 {
    font-size: 64px;
    color: #1F3F68;
}

.title-h2-contacts {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.title-h3 {
    font-size: 36px;
    text-align: center;
}

.title-h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.entry-field {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.submit-button {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.contacts-body {
    background: url("/src/assets/img/vivid-blurred-colorful-background.jpg") no-repeat center;
}