@import "fonts.css";

@import "reset.css";

* {
    font-family: "Inter";
}

.main-page {
    background-color: #F2F4F7;
    padding-bottom: 270px;
    background-image: url("../assets/img/background.png");
    background-repeat: no-repeat;
    background-position: right;
}

.header-container {
    padding-top: 24px;
}

header {
    display: flex;
    gap: 80px;
    max-width: 1124px;
    height: 56px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 16px 24px;
}

.header__logo {
    width: 120px;
    height: 24px;
    background: url("../assets/svg/logo.svg") no-repeat;
}

.header__nav {
    display: flex;
    gap: 24px;
}

.header__nav-item {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.154px;
    color: #101828;
}
a {
    text-decoration: none;
    color: inherit;
}
.header__contacts {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.154px;
    color: #2D66EE;
}

.header__phone:first-child {
    margin-left: 32px;
    position: relative;
}

.header__phone {
    margin-left: 16px;
}

.header__mail {
    margin-left: 64px;
    position: relative;
}

.header__phone:first-child::before {
    content: "";
    width: 14px;
    height: 20px;
    position: absolute;
    background-image: url("../assets/svg/phone.svg");
    left: -23px;
    bottom: 5px;
}

.header__mail::before {
    content: "";
    width: 20px;
    height: 16px;
    position: absolute;
    background-image: url("../assets/svg/email.svg");
    left: -29px;
    bottom: 7px;
}

.container {
    max-width: 1224px;
    margin: 0 auto;
}

h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 144%;
    color: #101828;
}

span {
    color: #2D66EE;
}

.main-page__info p {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #101828;
    margin-top: 24px;
}

.main-page__info {
    width: 600px;
    margin-top: 80px;
}

.main-page__request {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
    gap: 32px;
    width: 676px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 0 24px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
    background-color: #FFFFFF;
}

.main-page__request h3 {
    width: 600px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #101828;
    letter-spacing: 0.38px;
}

.main-page__request form {
    display: flex;
    gap: 24px;
}

.main-page__request caption {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.078px;
    color: #667085;
}

.main-page__request .button {
    width: 132px;
    height: 58px;
    background: #2D66EE;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.154px;
    color: #FFFFFF;
    border-width: 0;
}

.main-page__request .input-field {
    display: block;
    border: 0;
    border-bottom: 0.7px solid #D0D5DD;
    margin-top: 8px;
}

footer {
    background: #101828;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08), 0 2px 24px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 24px 29px;
}

.footer__logo {
    width: 217px;
    height: 30px;
    background-image: url("../assets/svg/logo-footer.svg");
    background-repeat: no-repeat;
    margin: 0 auto;
}

.footer__items-wrapper {
    margin-top: 43px;
    display: flex;
    margin-bottom: 40px;
}

.footer__info {
    width: 294px;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #FFFFFF;
}

footer .info-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.154px;
    color: #98A2B3;
    margin-bottom: 11px;
}

.footer__info .phone::before {
    content: url("../assets/svg/footer/phone.svg");
    margin-right: 12px;
}

.footer__info .mail::before {
    content: url("../assets/svg/footer/email.svg");
    margin-right: 12px;
}

.footer__info .address::before {
    content: url("../assets/svg/footer/address.svg");
    margin-right: 12px;
}

.footer__info .request::before {
    content: url("../assets/svg/footer/request.svg");
    margin-right: 12px;
}

.footer__slogan {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.078px;
    color: #FFFFFF;
    margin: 0 auto;
    width: 240px;
}

.footer__slogan::before {
    content: url("../assets/svg/footer/map_logo.svg");
    margin-right: 12px;
}

.development .container {
    padding: 80px 0 82px;
    display: flex;
    gap: 232px;
}

h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 144%;
    letter-spacing: 0.326451px;
    color: #101828;
}

.development p {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    color: #101828;
    margin-top: 32px;
}

.development__wrapper .title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
    color: #101828;
    margin-top: 34px;
}

.development__wrapper .technologies {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #344054;
    margin-top: 16px;
    width: 494px;
}



.development__service-list li {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.38px;
    color: #1D2939;
    margin-top: 24px;
    list-style-type: none;
}

.development__service-list ul {
    padding-left: 0;
}

.development__service-list li:first-child {
    margin-top: 12px;
}

.development__service-list a {
    position: relative;
}

.development__service-list li a:hover {
    font-weight: 600;
    border-bottom: 1px #2D66EE solid;
}

.development__service-list a::after {
    content: "";
    width: 7px;
    height: 12px;
    background: url("../assets/svg/arrow.svg");
    position: absolute;
    right: -21px;
    top: 7px;
}

.industries-page {
    background: #F2F4F7;
    padding: 80px 0;
}

.industries-page h2 {
    width: 600px;
}

.industries-page__wrapper {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 28px;
}

.industries-page__item {
    width: 391px;
    height: 44px;
    display: flex;
}

.industries-page__item .logo {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background: #FFFFFF;
    margin-right: 16px;
    display: flex;
    padding: 12px;
}

.industries-page__item .caption {
    padding-top: 10px;
}

.industries-page__item img {
    width: 100%;
}

.hidden {
    display: none;
}

@media screen and (max-width: 1224px)
{
    .container {
        max-width: 768px;
    }

    header {
        height: 90px;
        gap: 0;
        justify-content: space-between;
        padding: 25px 32px;
        position: relative;
    }

    .header__nav {
        display: none;
    }

    .header__contacts .header__phone {
        display: none;
    }

    .header-container {
        padding-top: 16px;
    }

    .header__burger {
        display: block;
        width: 59px;
        height: 40px;
        background: url("../assets/svg/burger.svg") 100%;
    }

    .header__logo {
        margin-top: -12px;
        margin-left: -60px;
        position: absolute;
        top: 50%;
        left: 50%;

    }

    .header__mail {
        margin-left: 0;
        margin-top: 11px;
    }

    .header__mail::before {
        bottom: 10px;
    }

    .main-page__info {
        width: 383px;
    }

    h1 {
        font-size: 28px;
    }

    .main-page__request {
        width: 383px;
        display: block;
        padding: 32px;
    }

    .main-page__request h3 {
        width: 295px;
        font-size: 16px;
    }

    .main-page__request form {
        margin-top: 32px;
        gap: 32px;
        flex-direction: column;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: #667085;
    }

    .main-page__request .button {
        width: 155px;
        height: 40px;
    }

    .main-page {
        background-image: url("../assets/img/background768px.png");
        background-position: right;
        background-size: contain;
        padding-bottom: 32px;
    }

    h2 {
        font-size: 28px;
    }

    .development .technologies {
        font-size: 14px;
        width: 275px;
    }

    .development .container {
        gap: 82px
    }

    .development__service-list {
        margin-top: 108px;
        width: 220px ;
    }

    .industries-page {
        padding-top: 40px;
    }

    .industries-page h2 {
        width: 380px;
    }

    .industries-page__item {
        width: 320px;
    }

    .mobile-menu {
        /*display: block;*/
        position: fixed;
        z-index: 100;
        width: 100%;
        top: 0;
        left: 0;
        background-color: #FFFFFF;
    }

    .mobile-menu .container {
        position: relative;
        padding: 144px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobile-menu--close {
        position: absolute;
        top: 54px;
        left: 585px;
    }

    .mobile-menu__logo {
        width: 289px;
        height: 48px;
    }

    .mobile-menu__item {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 144%;
        letter-spacing: 0.326451px;
        color: #101828;
        text-align: center;
        margin-top: 32px;
    }

    .mobile-menu__item:first-child {
        margin-top: 0;
    }

    .mobile-menu nav {
        margin-top: 52px;
    }

    .mobile-menu__contacts {
        display: flex;
        font-weight: 500;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: -0.154px;
        color: #2D66EE;
        margin-top: 55px;
        gap: 64px;
    }

    .mobile-menu__mail {
        margin: 0;
    }

    .mobile-menu__phone {
        position: relative;
    }

    .mobile-menu__phone::before {
        content: "";
        width: 14px;
        height: 20px;
        position: absolute;
        background-image: url("../assets/svg/phone.svg");
        left: -23px;
        bottom: 0px;
    }

    .mobile-menu__mail {
        position: relative;
    }


    .mobile-menu__mail::before {
        content: "";
        width: 20px;
        height: 16px;
        position: absolute;
        background-image: url("../assets/svg/email.svg");
        left: -29px;
        bottom: 2px;
    }
}